<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

	<context:annotation-config />  	<!-- 의존 자동 객체 주입을 해주는 태그 -->

	<!-- InitSampleData 빈 -->
	<bean id="initSampleData" class="hospital.utils.InitSampleData"><!-- bean은 생성자를 호출 -->
		<property name="patientName">                         <!-- property는 setter를 호출 -->
			<array>
				<value>김철수</value>
				<value>박영희</value>
				<value>최불암</value>
				<value>이지원</value>
				<value>전진우</value>
			</array>
		</property>
		<property name="address">                       
			<array>
				<value>수원시 영통구</value>
				<value>수원시 권선구</value>
				<value>용인시 기흥구</value>
				<value>성남시 분당구</value>
				<value>서울시 동작구</value>
			</array>
		</property>
		<property name="phone">                       
			<array>
				<value>010-1234-5678</value>
				<value>010-1245-4567</value>
				<value>010-5858-6363</value>
				<value>010-7878-8585</value>
				<value>010-2525-4484</value>
			</array>
		</property> 
		<property name="email">                       
			<array>
				<value>kim@gmail.com</value>
				<value>zero@gmail.com</value>
				<value>fire@naver.com</value>
				<value>jiwon@naver.com</value>
				<value>jinwoo@daum.net</value>
			</array>
		</property>
		<property name="department">                       
			<array>
				<value>내과</value>
				<value>가정의학과</value>
				<value>노년내과</value>
				<value>건강의학과</value>
				<value>구강악안면외과</value>
			</array>
		</property>
		<property name="registrationNum">                       
			<array>
				<value>950220-1545768</value>
				<value>850111-2154759</value>
				<value>550321-1236598</value>
				<value>960418-2235417</value>
				<value>931219-1239668</value>
			</array>
		</property>
		<property name="reservationNum">                       
			<array>
				<value>P001</value>
				<value>P002</value>
				<value>P003</value>
				<value>P004</value>
				<value>P005</value>
			</array>
		</property>

	</bean>

</beans>